<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @routes.each do |route| %>
    <tr>
      <td>
        <div id="route_title_<%= route.id %>">
          <%= route.name %>
        </div>
        <%= render 'form', route: route, hidden: true %>
      </td>
      <td><%= link_to 'Show', [:admin, route] %></td>
      <td><%= link_to 'Edit', '', class: 'edit_route', data: { route_id: route.id } %></td>
      <td><%= link_to 'Destroy', [:admin, route], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New route', new_admin_route_path %>
