<%= form_with(model: @carriage) do |form| %>
  <%= render "common/errors", resource: @carriage %>

  <div class="field">
    <%= form.label :bottom_seats, 'Bottom seats' %>
    <%= form.number_field :bottom_seats %>
  </div>

  <div class="field">
    <%= form.label :top_seats, 'Top seats' %>
    <%= form.number_field :top_seats %>
  </div>

  <div class="field">
    <%= form.label :kind, 'Type' %>
    <%= form.select :kind, Carriage.kinds.keys %>
  </div>

  <div class="field">
    <%= form.label :train, 'Train'%>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
