<%= form_with(model: @carriage.becomes(Carriage)) do |form| %>
  <%= render "common/errors", resource: @carriage %>

  <div class="field">
    <%= form.label :bottom_seats, 'Bottom seats' %>
    <%= form.number_field :bottom_seats %>
  </div>

  <div class="field">
    <%= form.label :top_seats, 'Top seats' %>
    <%= form.number_field :top_seats %>
  </div>
  <div class="field">
    <%= form.label :side_top_seats, 'Side top seats' %>
    <%= form.number_field :side_top_seats %>
  </div>
  <div class="field">
    <%= form.label :side_bottom_seats, 'Side bottom seats' %>
    <%= form.number_field :side_bottom_seats %>
  </div>
  <div class="field">
    <%= form.label :eco_seats, 'Eco seats' %>
    <%= form.number_field :eco_seats %>
  </div>

  <div class="field">
    <%= form.label :type %><br>
    <%= form.select :type, Carriage::TYPES, selected: @carriage.type || 'EcoCarriage' %>
  </div>

  <div class="field">
    <%= form.label :train, 'Train' %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
