<h1>New Carriage</h1>

<%= form_for [:admin, @train, @carriage] do |form| %>

  <div class="field top_seats seats">
    <%= form.label :top_seats %><br>
    <%= form.number_field :top_seats %>
  </div>

  <div class="field bottom_seats seats">
    <%= form.label :bottom_seats %><br>
    <%= form.number_field :bottom_seats %>
  </div>

  <div class="field side_top_seats seats">
    <%= form.label :side_top_seats %><br>
    <%= form.number_field :side_top_seats %>
  </div>

  <div class="field side_bottom_seats seats">
    <%= form.label :side_bottom_seats %><br>
    <%= form.number_field :side_bottom_seats %>
  </div>

  <div class="field eco_seats seats">
    <%= form.label :eco_seats %><br>
    <%= form.number_field :eco_seats %>
  </div>

  <div class="field">
    <%= form.label :type %><br>
    <%= form.select :type, Carriage::TYPES, selected: @carriage.type || 'EcoCarriage' %>
  </div>
  <div class="actions">
    <%= form.submit "Create" %>
  </div>
<% end %>

<%= link_to 'Back', admin_trains_path %>
