<h1>Result</h1>
<h2>Routes</h2>
<ul>
  <% @routes.each do |route| %>
    <li>
      <strong>Route <%= route.id %></strong>
      <p>Outgo time <%= route.first_station.departure_time(route) %></p>
      <p>Arrive time <%= route.last_station.arrival_time(route) %></p>
      <h3>Trains</h3>
      <ul>
        <% route.trains.each do |train| %>
          <li>
            <p><%= train.number %></p>
            <button><%= link_to 'Buy ticket', new_train_ticket_path(train, start_station: @start_station.id, end_station: @end_station.id) %></p></button>
          </li>
        <% end %>
      </ul>
    </li>

  <% end %>
</ul>