<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.name %>
</p>
<p>
  <% if @route.railway_stations %>
  <table>
    <thead>
    <tr>
      <td>Station</td>
      <td>Position</td>
      <td>Arrived time</td>
      <td>Departure time</td>
    </tr>
    </thead>
    <tbody>
    <% @route.railway_stations.ordered.each do |station| %>
      <tr>
        <td><%= station.title %></td>
        <td>
          <%= form_tag update_position_railway_station_path(station.id), method: :post do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= number_field_tag :station_index, station.index(@route.id) %>
            <%= submit_tag 'Save' %>
          <% end %>
        </td>
        <td>
          <%= form_tag update_datetime_railway_station_path(station.id), method: :post do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <%= time_field_tag :arrival_time, station.arrival_time(@route.id) %>
          <td><%= time_field_tag :departure_time, station.departure_time(@route.id) %></td>
          <td><%= submit_tag 'Save' %></td>
        <% end %>
        </td>

      </tr>
    <% end %>
    </tbody>
  </table>

<% else %>
  <strong>there are no stations in the route</strong>
<% end %>
<p>
  <% if @route.trains %>
    <strong>Trains: </strong>
    <% @route.trains.each do |train| %>
      <ul>
        <li><%= train.number %></li>
      </ul>
    <% end %>
  <% else %>
    <strong>there are no trains on the route</strong>
  <% end %>
  </p>
  <%= link_to 'Edit', edit_route_path(@route) %> |
  <%= link_to 'Back', routes_path %>