<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.name %>
</p>
<p>
  <% if @route.railway_stations %>
    <strong>Stations:</strong>
    <ul>
      <% @route.railway_stations.each do |station| %>
        <li><%= station.title %></li>
      <% end %>
    </ul>
  <% else %>
    <strong>there are no stations in the route</strong>
  <% end %>
  </p>
  <p>
    <% if @route.trains %>
      <strong>Trains: </strong>
      <ul>
        <% @route.trains.each do |train| %>
          <li><%= train.number %></li>
        <% end %>
      </ul>
    <% else %>
      <strong>there are no trains on the route</strong>
    <% end %>
    </p>
    <%= link_to 'Edit', edit_route_path(@route) %> |
    <%= link_to 'Back', routes_path %>