<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.name %>
</p>
<div>
  <% if @route.railway_stations %>
    <strong>Stations:</strong>
    <% @route.railway_stations.ordered.each do |station| %>
      <p><strong><%= station.title %></strong>
        <%= form_tag update_position_railway_station_path(station.id), method: :post do %>
          <%= hidden_field_tag :route_id, @route.id %>
          <%= label_tag :station_index %>
          <%= number_field_tag :station_index, station.index(@route.id) %>
          <%= submit_tag 'Save' %>
        <% end %>
      </p>
    <% end %>
  <% else %>
    <strong>there are no stations in the route</strong>
  <% end %>
</div>
<div>
  <% if @route.trains %>
    <strong>Trains: </strong>
    <ul>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
      <% end %>
    </ul>
  <% else %>
    <strong>there are no trains on the route</strong>
  <% end %>
</div>
<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>